@page "/"

<PageTitle>Welcome to AI Assistant App</PageTitle>

<link rel="stylesheet" href="home.css" />

<div class="home-container">
    <section class="hero-section">
        <h1>Welcome to AI Assistant App</h1>
        <p>Experience the cutting-edge OpenAI Assistant, trained with specific knowledge about Inway's products, now at
            your fingertips.</p>
    </section>

    <section class="about-section">
        <h2>About the Project</h2>
        <p>
            Developed for the Inway Hackathon 2024, our goal was to harness the capabilities of OpenAI to create an
            informed assistant. Our assistant is adept at providing detailed information about Simply365, thanks to
            extensive training on data sourced from <a href="https://www.simply365.de/"
                target="_blank">Simply365.de</a>.
        </p>
        <p>
            Whether you're seeking specifics on Simply365 or need guidance navigating Inway's offerings, our AI is here
            to assist.
        </p>
    </section>

    <section class="team-section">
        <h3>Project Team</h3>
        <ul class="team-list">
            <li>Alexander Eckardt</li>
            <li>Matthias Schuster</li>
            <li>Ertugrul Balveren</li>
        </ul>
    </section>

    <section class="project-links">
        <a class="button primary" href="https://github.com/InwaySystems/AIAssistantApp" role="button">Frontend Project</a>
        <a class="button secondary" href="https://github.com/InwaySystems/AIAssistantApi" role="button">Backend Project</a>
    </section>
</div>
@code {
    // Any required C# code goes here
}
